:root{
    --secondary-color: #F16E3D;
    --background: #ffb178;
    --background-2:#f5a66b;
    --main-font-color: #9d9b9c;
}

*{
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body{
    margin: 0;
    background-color: var(--background);
}

h1{
    display: none;
}


.calculator{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
    width: 250px;
    height: 500px;
    border-radius: 1em;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 0px 18px 6px #F78E42;
}

@media screen and (min-width:1024px) {
    .calculator{
        margin-top: 1em;
        width: 300px;
        height: 550px;
    }
}

.screen{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    height: 30%;
}

.screen__content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    top: 5px;
    right: .5em;
}

.screen__text{
    font-size: 3rem;
}

.screen__text-record{
    color: var(--main-font-color);
    font-weight: 600;
    font-size: 1.2rem;
    position: absolute;
    top: 6em;
}

.keyboard{
    width: 100%;
    height: 70%;
    border: 0;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 5;    
}

.special-btn{
    width: 10px;
    height: 13px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    filter: invert(67%) sepia(0%) saturate(20%) hue-rotate(50deg) brightness(93%) contrast(93%);

}

.special-btn--delete{
    width: 20px;
    height: 23px;
    position: relative;
    top: 2px;
}

.special-btn--minus{
    height: 26px;
    width: 13px;
    top: 2px;
}

.keyboard__button{
    font-size: 1rem;
    color: #9d9b9c;
    border: 0;
    cursor: pointer;
    width: 50px;
    height: 40px;
    border: 1px solid none;
    border-radius: .5em;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 2px 5px 0px rgba(179,169,169,0.89);
}

.keyboard__button:hover{
    color: var(--secondary-color);
}

/*este es el grid que posiciona los todos los botones*/

.keyboard__button--AC{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.keyboard__button--delete{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.keyboard__button--per{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.keyboard__button--bet{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}    

.keyboard__button--7{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}    
.keyboard__button--8{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}    
.keyboard__button--9{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}    

.keyboard__button--for{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}    
.keyboard__button--4{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.keyboard__button--5{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.keyboard__button--6{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.keyboard__button--minus{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
.keyboard__button--1{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}    

.keyboard__button--2{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}    

.keyboard__button--3{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}    

.keyboard__button--plus{
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}    

.keyboard__button--0{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.keyboard__button--dot{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}


.keyboard__button--equal{
    grid-column: 3 / 5;
    grid-row: 5 / 6;
    width: 80%;
    background-color: #F16E3D;
    color: white;
}

.keyboard__button--equal:hover{
    background-color: white;
}





